body {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/5261524/1820/1213/m1/fpnw/wm1/cfaeqefrsgqcyqbxscpn25hwiwl3fkcqxswaqcdnsj53fowvmrclapmauksxoqfg-.jpg?1540458867&s=c17c2faac7aff5a7a7271cc90edf2600");
  background-size: 1500px, 1100px;
  margin: 0;
  padding:25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  border-bottom: 3px solid red;
  
}
.container {
  border-style: dotted;
  border-color: red;
  background-color: white;
  
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  
  }

  button {
    margin: 10px;
    background-color: red;
  }